@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
    :root {
        --font-base: 'Lexend', sans-serif;
        --font-secondary: 'Inter', sans-serif;

        --bg-color: #111; /* Background color */
        --primary-color: #ffffff; /* Primary color */
        --secondary-color: #e50914; /* Secondary color */
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111;
}