/* Root CSS component for the Footer component */
.footer_outer_container {
    background-color: #333; /* Set the background color */
    color: #fff; /* Set the text color */
    display: flex;
    justify-content: center;
    padding: 20px; /* Add padding */
}
.footer_inner_container {
 width: 60%;
}

.footer_icons {
    width: 12%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
    /* gap: 10px;  */
}

.footer_data {
    display: flex;
    justify-content: space-between;
}

.footer_data ul {
    list-style: none; /* Remove default list styles */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}

.footer_data li {
    cursor: pointer;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 15%;
    margin: 10px 0;
    cursor: pointer;
}
.copy-write{
    font-size: 12px;
    margin-bottom: 10px;
}